USER_CMAKE_GENERATOR=Ninja
USER_BUILD_TYPE=Release
# USER_BUILD_TYPE=Debug
USER_BUILD_DIR="$HOME/build-cache/qt-face-terminal"
USER_INSTALL_DIR="$USER_BUILD_DIR/install"
USER_QT_SDK_PREFIX="$HOME/qt5-himix200-sdk"
USER_THIRD_PARTY_PREFIX="$HOME/quface-deps/hisi/Release"
# USER_HISI_SDK_PREFIX="$HOME/facescope/deps/rp-dv300"
# USER_QUFACE_SDK_PREFIX="$HOME/facescope/deps/qufacesdk"
# USER_TEMPERATURE_SDK_PREFIX="$HOME/facescope/deps/temperature"
# USER_QUFACE_IO_SDK_PREFIX="$HOME/facescope/deps/qufaceiosdk"
# USER_SCP_COPY_TO=root@192.168.2.12:/user/quface-app/face-terminal
