USER_QT_SDK_HOME="$HOME/qt5-himix200-sdk"
USER_THIRD_PARTY_PREFIX="$HOME/quface-deps/hisi/Release"
USER_QUFACE_SDK_PREFIX="$HOME/mac-workplace/suanzi/facescope/deps/qufacesdk"
USER_BUILD_TYPE=Release
USER_BUILD_DIR="$HOME/build-cache/qtdemo"
USER_CMAKE_GENERATOR=Ninja
USER_SCP_COPY_TO=root@192.168.2.12:/user/facescope
USER_LCD_SCREEN_TYPE="LCD_8INCH_800x1280"
#USER_LCD_SCREEN_TYPE="LCD_5INCH_480x854"
